<div  style="margin-top: 10px; margin-bottom: 10px" ng-controller="HomeController" ng-init="init()">
  <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3"> 
        <label>Sort by</label>
        <select ng-model="sort_created_at" ng-change="getList()">
            <option value="desc">DESC</option>
            <option value="asc">ASC</option>
        </select>
      </div> 
  </div>
  <div ng-repeat="item in list">
       <!-- Title -->
      <h1 class="mt-4">{{item.title}}</h1>
      <p class="lead">
        by
        <a href="/#!/posts-by-user/{{item.user_id}}">{{item.email}}</a>
        - created at: {{item.created_at}}
      </p>
      <!-- Post Content -->
      <p class="lead">{{item.description}}</p>
      <a href="/#!/post/{{item.post_id}}">Read more ...</a>
  </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>