<div class="container marin_20">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <form action="javascript:void(0)">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" ng-model="user.email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" ng-model ="user.password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="login()">Login</button> 
                (If not account) <a href="/#!/register">Register</a>
            </form>
            <div class="alert alert-danger" role="alert" ng-if="error_msg">
              {{error_msg}}
            </div>
        </div>
        <div class="col-md-3"> </div>
    </div>
</div>