<div class="container marin_20">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <form action="javascript:void(0)" >
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" ng-model="register.name" placeholder="Enter name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" ng-model="register.email" accept=" " placeholder="Enter email" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" ng-model="register.password" placeholder="Enter password" id="pwd">
                </div>
                <div class="form-group">
                    <label for="re_pwd">Re-Password:</label>
                    <input type="password" class="form-control" ng-model="register.re_password" placeholder="Enter password again" id="re_pwd">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="registerFn()">Register</button>
                (If fogot pass) <a href="javascript:void(0)">Click</a>
            </form>
            <div class="alert alert-danger" role="alert" ng-if="error_msg">
              {{error_msg}}
            </div>
        </div>
        <div class="col-md-3"> </div>
    </div>
</div>