<!-- Navigation -->
<div class="container" ng-controller="HeaderController" ng-init="init()">
  <a class="navbar-brand" href="/#!/home">Blog Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#!/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">About</a>
      </li>
      <li ng-show="user" class="nav-item">
        <a class="nav-link" href="/#!/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#!/login" ng-show="!user">Login</a>
      </li>
    </ul>
    <span ng-show="user.email" class="badge badge-warning">{{user.name}}</span>
    <a class="nav-link" href="javascript:void(0)" ng-click="logout()" style="color:white">Logout</a>
  </div>
</div>