<div class="col-lg-12" ng-show="pages.length > 1">
    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate" align="center">
        <ul class="pagination">
            <li class="paginate_button previous " ng-class="{'disabled':current_page == 1}" ng-click="PreviousPage()" aria-controls="DataTables_Table_0"
                tabindex="0" id="DataTables_Table_0_previous">
                <a>
                    < 
                </a>
            </li>
            <li ng-repeat="page in pages" class="paginate_button" ng-click="SetPage(page)" ng-class="{'active':page == current_page}"
                aria-controls="DataTables_Table_0" tabindex="0">
                <a ng-hide="(page - current_page) > 10 || (current_page - page) > 1">{{ page }}</a>
            </li>
            <li class="paginate_button next" aria-controls="DataTables_Table_0" ng-class="{'disabled':current_page == total_page}" ng-click="NextPage(page)"
                tabindex="0" id="DataTables_Table_0_next">
                <a> ></a>
            </li>
        </ul>
    </div>
</div>