<div class="col-xs-12 marin_20" ng-controller="AdminController" ng-init="init()">
    <div class="col-md-12 col-xs-12">
            <h5 class="card-header">List Post 
                <a class="btn btn-rounded btn-sm btn-success btn-icon btn-default" href="/#!/admin/post/add">Create</a>
            </h5>
            <div class="table-responsive table table-bordered table-sm">
                <table class="table b-t b-light">
                    <thead>
                        <th>#</th>
                        <th>Title </th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Action</th>
                    </thead>
                    <tbody ng-show="list && list.length > 0">
                         <tr ng-repeat="item in list">
                            <td>{{$index +1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <span ng-if="item.is_active">Active</span>
                                <span ng-if="!item.is_active">Deactive</span>
                            </td>
                            <td>{{item.created_at}}</td>
                            <td>
                                <a href="/#!/admin/post/{{item.post_id}}" >
                                    <button
                                        class="btn btn-rounded btn-sm btn-warning btn-icon btn-default">Edit</button>
                                </a>
                                <a href="" class="active"
                                    ui-toggle-class=""
                                    ng-click="Delete(item)">
                                    <button
                                        class="btn btn-rounded btn-sm btn-danger btn-icon btn-default">Delete</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-hide="list && list.length > 0">
                        <tr>
                            <td colspan="15" align="center">
                                <h5 style="margin:auto;max-width: 100px;">Không có dữ liệu</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12" paging>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javasript:void(0)">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="javasript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javasript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javasript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javasript:void(0)">Next</a></li>
                  </ul>
                </nav>
            </div>
    </div>
</div>