<h5 class="card-header" ng-if="id != 'add'">Edit Post</h5>
<h5 class="card-header" ng-if="id == 'add'">Create Post</h5>
<div class="container marin_20" ng-controller="AdminPostController" ng-init="init()">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-10">
            <form action="javascript:void(0)" >
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type="name" class="form-control" ng-model="post.title" placeholder="Enter name" id="name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label><br>
                    <textarea id="w3mission" rows="4" cols="50" ng-model="post.description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="content">Content:</label><br>
                    <textarea id="w3mission" rows="10" cols="70" ng-model="post.content">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="pwd">Active:</label>
                    <input type="radio"
                        name="status" 
                        ng-checked="post.is_active == 1"
                        ng-model="post.is_active"
                        value="1">

                    <label for="pwd">Dective:</label>
                    <input type="radio"
                        name="status" 
                        ng-checked="post.is_active == 0"
                        ng-model="post.is_active"
                        value="0">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="updatePost()">Submit</button>
                <button type="submit" class="btn btn-default" >Back</button>
            </form>
            <div class="alert alert-danger" role="alert" ng-if="error_msg">
              {{error_msg}}
            </div>
        </div>
    </div>
</div>