
<div class="post-detail" ng-controller="PostController" ng-init="init()">
	<!-- Title -->
	<h1 class="mt-4">{{post.title}}</h1>

	<!-- Author -->
	<p class="lead">
	  by
	  <a href="#">{{post.user_id}}</a>
	</p>

	<hr>

	<!-- Date/Time -->
	<p>Posted on {{post.created_at}}</p>

	<hr>

	<!-- Preview Image -->
	<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

	<hr>

	<!-- Post Content -->
	<p class="lead"></p>

	<p>{{post.content}}</p>

	<hr>

	<!-- Comments Form -->
	<div class="card my-4" ng-show="user">
	  <h5 class="card-header">Leave a Comment:</h5>
	  <div class="card-body">
	    <form>
	      <div class="form-group">
	        <textarea class="form-control" rows="3" ng-model="comment_text"></textarea>
	      </div>
	      <button type="submit" class="btn btn-primary" ng-click="postComment()">Submit</button>
	    </form>
	  </div>
	</div>

	<div class="card my-4" ng-hide="user">
	  <h5 class="card-header">Signin to comment this post <a href="/#!/login">login</a></h5>
	</div>

	<!-- Single Comment -->
	<div class="comment_area" ng-show="post.comments && post.comments.length >0">
		<div class="media mb-4" ng-repeat="item in post.comments">
		  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
		  <div class="media-body">
		    <h5 class="mt-0">{{item.name}}</h5>
		    {{item.text}}
		  </div>
		</div>
	</div>

	<!-- Comment with nested comments -->
	<div class="media mb-4">
	  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
	  <div class="media-body">
	    <h5 class="mt-0">Commenter Name</h5>
	    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

	    <div class="media mt-4">
	      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
	      <div class="media-body">
	        <h5 class="mt-0">Commenter Name</h5>
	        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	      </div>
	    </div>

	    <div class="media mt-4">
	      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
	      <div class="media-body">
	        <h5 class="mt-0">Commenter Name</h5>
	        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	      </div>
	    </div>

	  </div>
	</div>
</div>
