<div  ng-controller="SearchController" ng-init="init()">
	<h5 class="card-header" ng-if="id != 'add'">Result for text search: <b><i>{{text}}</i></b></h5>
  <div ng-show="list && list.length >0" style="margin-top: 10px; margin-bottom: 10px" ng-repeat="item in list">
       <!-- Title -->
      <h1 class="mt-4">{{item.title}}</h1>
      <p class="lead">
        by
        <a href="/#!/posts-by-user/{{item.user_id}}">{{item.email}}</a>
        - created at: {{item.created_at}}
      </p>
      <!-- Post Content -->
      <p class="lead">{{item.description}}</p>
      <a href="/#!/post/{{item.post_id}}">Read more ...</a>
  </div>

  <div ng-hide="list && list.length >0" style="margin-top: 10px; margin-bottom: 10px" >
       <h5 style="margin:auto;max-width: 100px;">Không có dữ liệu</h5>
  </div>
</div>